* {
  margin: 0;
  box-sizing: border-box;
}
#device {
  text-align: center;
  padding: 10px;
}
.deviceData {
  padding: 10px;
  display: flex;
  justify-content: center;
}
#getAccess {
  display: none;
}
#accData,
#oriData {
  text-align: center;
  flex: 1;
}
.dataContent {
  display: flex;
  gap: 10px;
}
