* {
  margin: 0;
  box-sizing: border-box;
}
#device {
  text-align: center;
  padding: 10px;
}
.data {
  padding: 10px;
  display: flex;
  justify-content: center;
}
#accData,
#gyrData {
  text-align: center;
  flex: 1;
}
