* {
  margin: 0;
  box-sizing: border-box;
}
.record-container {
  text-align: center;
  display: none;
  width: 90%;
  margin: 0 auto;
}
.deviceData {
  padding: 10px;
  display: flex;
  justify-content: center;
}
#device,
#recordStatus {
  text-align: center;
}
#accData,
#oriData {
  text-align: center;
  flex: 1;
  padding: 5px;
}
table {
  display: block;
  margin: 0 auto;
  overflow-x: auto;
  white-space: nowrap;
  border-collapse: collapse;
  height: 250px;
}
th,
td {
  border: 1px solid #f2f2f2;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
.dataContent {
  display: flex;
  justify-content: space-between;
}
.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
}
.start {
  background-color: #4caf50;
}
.stop {
  background-color: #f44336;
}
.access {
  margin: auto;
  display: none;
  background-color: #e7e7e7;
  color: black;
}
.show {
  background-color: #008cba;
}
.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
.button-container {
  text-align: center;
}
